check process unicorn_<app> with pidfile /var/www/apps/<app>/shared/tmp/pids/unicorn.pid
  group app
  start program = "<monit_config_dir>/unicorn-<app>.start"
    as uid developer and gid developer
  stop program = "<monit_config_dir>/unicorn-<app>.stop"
    as uid developer and gid developer
  if failed unixsocket /var/www/apps/<app>/shared/tmp/sockets/unicorn.sock
      protocol HTTP request "/?status" for 5 cycles then restart
